body {
  background: rgba(204, 204, 204, 0.31);
}
body h2 {
  color: blue;
}
body p {
  color: red;
  font-size: 12px;
  font-weight: 400;
}
body a {
  font-size: 20px;
}
body div {
  transform: rotate(45deg);
  transform-origin: 20% 40%;
  border-radius: 25px;
  background: #8AC007;
  padding: 20px;
  width: 100px;
  height: 60px;
}
